<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{{ url_for('signUp') }}" style="cursor:pointer;">Signup</a></li>
                    <li><a href="{{ url_for('logout') }}" style="cursor:pointer;">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="header">Best suitable Credit Cards for you in descending order of there ranking</div>
        <div class="inner_container">
            {% for result in results %}
            <div class="card_ranking" >
                {% if result[1] %}
                <img src="{{ url_for('static',filename= result[1] ) }}" alt="card-image" width="5%" height="5%" style="padding-left: 20.5%;border-radius: 5%;">
                <div class="card_name">{{ result[0] }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>