<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='signup.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
    <div class="control-group" id="container-form">
        <div class="nav-bar">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{{ url_for('home') }}" style="cursor:pointer;">Home</a></li>
                    <li><a href="{{ url_for('login') }}" style="cursor:pointer;">LogIn</a></li>
                </ul>
            </div>
        </div>
        <div id="row" >
            <div id="row-heading">Know best suited credit card for you</div>
        </div>
        <form action="/signup" method="POST" class="form-horizontal" style="text-align: center;">
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="username" name="username" class="input-xlarge" placeholder="Enter Username" required/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="email" id="email" name="email" class="input-xlarge" placeholder="Enter Email" required/>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="password" id="password" name="password" class="input-xlarge" placeholder="Enter Password" required/>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                <div>{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="question-box" style="text-align: left;margin-left: 20%;">
                {% for result in results %}
                <div class="question">
                    <label> Q.{{ result[0] }}</label>
                    <label>{{ result[1] }}</label>
                </div>
                <div class="checkbox">
                    <label>
                    <input type="radio" class= "mycheckbox" id=yes_{{ result[0] }} value={{ result[0] }}_yes name= question_{{ result[0] }} >Yes</label>
                    <label>
                    <input type="radio" class="mycheckbox" id=no_{{ result[0] }} value={{ result[0] }}_no name= question_{{ result[0] }} >No</label>
                </div>
                {% endfor %}
            </div>

            <div class="control-group" id="submit-box">
                <div class="controls">
                    <button id="submit" type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>